<h2 id="schedule">Schedule</h2>

<table style="width:95%">
  <tr>
    <td>
      <h3>Day 1</h3>
      <p>Dec 1, 2022 | 9:00AM - 4:30PM | 32-133</p>
      <ul>
       <li><b>Prerequisites:</b> No programming experience required</li>
       <li>Lunch is provided</li>
       <li>Coffee breaks at 10:30 and 14:30</li>
      </ul>
      <table class="table table-striped" style="width:50%>
        <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
        <tr> <td>09:00</td>  <td>Setup</td>
        <tr> <td>09:30</td>  <td>Automating Tasks with the Unix Shell</td> </tr>
        <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
        <tr> <td>12:30</td>  <td>Plotting and  Programing in Python part 1</td> </tr>
        <tr> <td>16:15</td>  <td>Wrap-up</td> </tr>
        <tr> <td>16:30</td>  <td>END</td> </tr>
      </table>
  </td>
  <td>
    <h3>Day 2</h3>
   <p>Dec 8, 2022 | 9:00AM - 4:30PM | 34-328</p>
    <ul>
       <li><b>Prerequisites:</b> No programming experience required</li>
       <li>Lunch is provided</li>
       <li>Coffee breaks at 10:30 and 14:30</li>
      </ul>
    <table class="table table-striped" style="width:50%">
      <tr> <td>09:00</td>  <td>Plotting and  Programing in Python part 2</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:30</td>  <td>Plotting and  Programing in Python part 3</td> </tr>
      <tr> <td>16:15</td>  <td>Wrap-up and <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
    </td>
  </tr>
</table>
